@import 'styles/globals';

.contactInfoEntry {
  display: flex;
  padding: 2px 0;

  .label,
  .value {
    font-size: 13px;
    padding: 0 8px;
  }

  .label {
    flex: 0 0 60px;
    padding-left: 0;
    text-align: right;
    color: $foreground-color-secondary;
  }
}
