.link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.item {
  margin: 20px;
  text-align: center;
  cursor: pointer;

  .preview {
    height: 220px;
    background-size: cover;
    opacity: 0.9;
    transition: opacity $micro-animation-duration;
  }

  .title {
    background: $primary;
    color: $foreground;
    padding: 10px 20px;
    transition:
      background-color $micro-animation-duration,
      color $micro-animation-duration;
  }

  &:hover {
    background: transparent;

    .preview {
      opacity: 1;
    }

    .title {
      background-color: $primary-hover;
      color: $foreground-hover;
    }
  }

  &:active {
    .title {
      background-color: $primary-active;
    }
  }
}
