.link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.item {
  @include clickable-effects();

  margin: 20px;
  text-align: center;

  .preview {
    height: 220px;
    background-size: cover;
  }

  .title {
    padding: 10px 20px;
  }
}
