$animation-duration: 1.2s;

.link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.item {
  margin: 20px;
  color: $foreground;
  text-align: center;
  background-color: $primary;

  .preview {
    height: 220px;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 100%;
    transition:
      background-position $animation-duration $ease-in-out-quad,
      background-size $animation-duration $ease-in-out-quad;

    &:hover {
      background-position: 50% 50%;
      background-size: 120%;
    }
  }

  .title {
    padding: 10px 20px;
  }

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
  }
}
