.description {
  display: flex;
  justify-content: space-between;

  .extra {
    flex: 0 0 auto;
    margin-left: 40px;

    &:before {
      content: '+ ';
    }
  }

  @include mobile {
    display: block;

    .extra {
      text-align: right;
      margin-left: 0;
    }
  }
}
