@import 'styles/variables';

.name {
  font-family: 'Lato', sans-serif;
  font-size: 51px;
  line-height: 51px;
  font-weight: 300;
  text-transform: capitalize;

  @include mobile {
    font-size: 48px;
  }
}
