@import 'src/styles/variables';

.button {
  @include button-reset();
  @include clickable-effects();

  border-radius: $border-radius;

  &:hover {
    text-decoration: none;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.icon {
  $size: 24px;

  width: $size;
  height: $size;
  margin-right: 10px;
}
