@import 'styles/variables';

.button {
  @include button-reset();
  @include clickable-effects();

  &:hover {
    text-decoration: underline;
  }
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}
