@import 'styles/mixins';

.button {
  @include button-reset;

  background-color: var(--color--button);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  outline: none;
  cursor: pointer;
  transition: var(--transition);

  &:active {
    background-color: var(--color--button--active);
  }

  &:active,
  &:hover {
    box-shadow: var(--box-shadow--active);
    text-decoration: none;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size--xl);
}

.icon {
  $size: 24px;

  width: $size;
  height: $size;
  margin-right: 10px;
  color: var(--color--icon);
}
