@import 'styles/variables';

.info {
  font-size: var(--font-size--s);
}

.organization {
  font-size: var(--font-size--xl);
  font-weight: 700;
}

.details {
  @include mobile {
    display: flex;
    justify-content: space-between;
  }
}

.detailsRow {
  @include mobile {
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;

      &:before {
        content: '(';
      }

      &:after {
        content: ')';
      }
    }
  }
}
