.git-hub {
  color: $foreground;

  &:hover {
    color: $foreground;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  margin-top: 5px;
  color: $foreground;
}
