.git-hub {
  color: #ddd;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    margin-top: 5px;
    color: #ddd;
  }
}

  &:hover {
    color: #ddd;
  }
}
