@import 'styles/variables';

.contactInfoEntry {
  display: flex;
  padding: 3px 0;
}

.icon {
  $size: 18px;

  flex: 0 0 auto;
  width: $size;
  height: $size;
  margin-right: 12px;
  color: $shade-30;
}

.value {
  min-width: 0;
}

.valueContent {
  @include ellipsis;
}
