@import 'styles/mixins';

.contactInfoEntry {
  display: flex;
  gap: var(--spacing--l);
}

.icon {
  --size: 18px;

  flex: 0 0 auto;
  width: var(--size);
  height: var(--size);
  color: var(--color--icon);
}

.value {
  min-width: 0;
}

.valueContent {
  @include ellipsis;
}
