:root {
  --a4--width: 210mm;
  --a4--height: 297mm;

  --spacing--xs: 2px;
  --spacing--s: 4px;
  --spacing--m: 8px;
  --spacing--l: 12px;
  --spacing--xl: 16px;
  --spacing--xxl: 20px;
  --spacing--xxxl: 40px;

  --font-size--s: 12px;
  --font-size--m: 13px;
  --font-size--l: 16px;
  --font-size--xl: 18px;
  --font-size--xxl: 22px;
  --font-size--xxxl: 51px;

  --line-height: 1.5;

  --color--icon: #333;
}
