:root {
  --a4--width: 210mm;
  --a4--height: 297mm;
  --a4--padding: 20mm;

  --spacing--xs: 2px;
  --spacing--s: 4px;
  --spacing--m: 8px;
  --spacing--l: 12px;
  --spacing--xl: 16px;
  --spacing--xxl: 20px;
  --spacing--xxxl: 40px;

  --font-size--s: 12px;
  --font-size--m: 13px;
  --font-size--l: 16px;
  --font-size--xl: 18px;
  --font-size--xxl: 22px;
  --font-size--xxxl: 51px;

  --line-height: 1.5;

  --border-radius: 5px;

  --color--background: #cccccc;
  --color--button: #ffffff;
  --color--button--active: #eeeeee;
  --color--focus: #268fff80;
  --color--icon: #333333;
  --color--separator: #aaaaaa;
  --color--shadow: #999999;
  --color--shadow--active: #666666;
  --color--text: #000000;

  --transition: all var(--transition--duration) var(--transition--easing);
  --transition--easing: cubic-bezier(0.61, 1, 0.88, 1); // easeOutSine

  --box-shadow: 0px 0px 5px 2px var(--color--shadow);
  --box-shadow--active: 0px 0px 5px 2px var(--color--shadow--active);
}
