:root {
  --a4--width: 210mm;
  --a4--height: 297mm;

  --spacing--xs: 2px;
  --spacing--s: 4px;
  --spacing--m: 8px;
  --spacing--l: 12px;
  --spacing--xl: 16px;
  --spacing--xxl: 20px;
  --spacing--xxxl: 40px;

  --font-size--s: 12px;
  --font-size--m: 13px;
  --font-size--l: 16px;
  --font-size--xl: 18px;
  --font-size--xxl: 22px;
  --font-size--xxxl: 51px;

  --line-height: 1.5;

  --border-radius: 5px;

  --color--background: #ccc;
  --color--focus: #268fff80;
  --color--icon: #333;
  --color--text: black;

  --transition: all var(--transition--duration) var(--transition--easing);
  --transition--easing: cubic-bezier(0.61, 1, 0.88, 1); // easeOutSine
  --transition--easing: cubic-bezier(0.61, 1, 0.88, 1); // easeOutSine

}
