$a4-width: 210mm;
$a4-height: 297mm;

$black: #000;
$shade-20: #222;
$shade-80: #ddd;
$white: #fff;

$primary: #78387f;
$primary-hover: mix($primary, $white, 90%);
$primary-active: mix($primary, $black, 90%);
$inactive-overlay: rgba(0, 0, 0, 0.3);

$background-dark: $shade-20;
$foreground: $shade-80;
$foreground-hover: $white;

$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$box-shadow: 0px 0px 5px 2px grey;
$micro-animation-duration: 0.1s;

@mixin clickable-effects() {
  background-color: $white;
  color: $black;
  cursor: pointer;
  box-shadow: $box-shadow;

  &:hover,
  &:active {
    outline: 1px solid $black;
  }
}

@mixin mobile {
  @media only screen and (max-width: $a4-width - 1) {
    @content;
  }
}
