@import '~normalize.css';
@import './mixins';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--color--background);
  color: var(--color--text);
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size--m);
  line-height: var(--line-height);

  @media print {
    background: white;
    height: auto;
  }
}

@page {
  size: A4;
  margin: 0;
}

a {
  @include focus-effect;

  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

hr {
  margin: var(--spacing--m) 0;
  border: none;
  border-bottom: 1px dotted var(--color--separator);
}
