$a4-width: 210mm;
$a4-height: 297mm;

$shade-0: #000;
$shade-50: #666;
$shade-70: #aaa;
$shade-100: #fff;

$background-color: $shade-70;
$foreground-color: $shade-0;
$focus-color: #268fff;

$box-shadow: 0px 0px 5px 2px $shade-50;

$border-radius: 4px;

@mixin clickable-effects {
  @include focus-effect;

  background-color: $shade-100;
  border: 1px solid $shade-50;
  outline: none;
  cursor: pointer;

  &:hover {
    border-color: $shade-0;
  }
}

@mixin focus-effect {
  position: relative;

  &:focus {
    outline: none;

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 0 0 3px rgba($focus-color, 0.5);
      border-radius: $border-radius;
    }
  }
}

@mixin ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin button-reset() {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

@mixin mobile {
  @media only screen and (max-width: $a4-width - 1) {
    @content;
  }
}
