@import 'src/styles/variables';

.description {
  display: flex;
  justify-content: space-between;

  @include mobile {
    display: block;
  }
}

.extra {
  flex: 0 0 auto;
  margin-left: 40px;

  &:before {
    content: '+ ';
  }

  @include mobile {
    text-align: right;
    margin-left: 0;
  }
}
