@import 'styles/variables';

.app {
  height: 100%;
}

.name {
  font-family: 'Lato', sans-serif;
  font-size: 51px;
  line-height: 51px;
  font-weight: 300;
  text-transform: capitalize;

  @include mobile {
    font-size: 48px;
  }
}

.description {
  margin-top: 16px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;

  @include mobile {
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  @media print {
    padding: 0;
  }

  @include mobile {
    padding-top: 0;
  }
}

.contactInfo {
  position: absolute;
  top: 20mm;
  right: 20mm;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: $a4-width;
  margin-top: 40px;

  @media print {
    display: none;
  }

  @include mobile {
    width: 100%;
    justify-content: center;
  }
}

.buttonsLeft {
  display: flex;
  margin-right: 10px;
}

.buttonsRight {
  display: flex;
  margin-left: 10px;
}

.printButton {
  margin-right: 10px;

  @include mobile {
    display: none;
  }
}

.downloadButton {
  margin-left: 10px;

  @include mobile {
    margin-left: 0;
  }
}
