@import 'styles/mixins';

.app {
  height: 100%;
}

.name {
  margin-bottom: var(--spacing--xl);
  font-family: 'Lato', sans-serif;
  font-size: var(--font-size--xxl);
  line-height: 1;
  font-weight: 300;
  text-transform: capitalize;
}

.description {
  margin-bottom: var(--spacing--xxxl);
  font-size: var(--font-size--l);
  font-weight: 300;
  text-align: justify;
}

.name,
.description {
  @include mobile {
    text-align: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  @media print {
    padding: 0;
  }

  @include mobile {
    padding-top: 0;
  }
}

.contactInfo {
  position: absolute;
  top: var(--a4--padding);
  right: var(--a4--padding);

  @include mobile {
    position: static;
    margin-bottom: var(--spacing--xxxl);
  }
}

.sectionTitle {
  margin-bottom: var(--spacing--xl);
  margin-top: var(--spacing--xxxl);
  font-family: 'Lato', sans-serif;
  font-size: var(--font-size--xl);
  font-weight: 300;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing--xl);
  width: var(--a4--width);
  margin-top: var(--spacing--xxxl);

  @media print {
    display: none;
  }

  @include mobile {
    width: 100%;
    justify-content: center;
  }
}

.buttonsLeft {
  display: flex;
}

.buttonsRight {
  display: flex;
  gap: var(--spacing--xxl);
}

.printButton {
  @include mobile {
    display: none;
  }
}
