@import 'src/styles/variables';

.app {
  height: 100%;
}

.description {
  margin-top: 14px;
  margin-bottom: 33px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  @media print {
    padding: 0;
  }

  @include mobile {
    padding-top: 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: $a4-width;
  margin-top: 40px;

  @media print {
    display: none;
  }

  @include mobile {
    width: 100%;
    justify-content: center;
  }
}

.buttonsLeft {
  display: flex;
  margin-right: 10px;
}

.buttonsRight {
  display: flex;
  margin-left: 10px;
}

.printButton {
  margin-right: 10px;

  @include mobile {
    display: none;
  }
}

.downloadButton {
  margin-left: 10px;

  @include mobile {
    margin-left: 0;
  }
}
