.table {
  width: 100%;
  background-color: white;
  border: 1px dotted var(--color--separator);
  border-collapse: collapse;

  td {
    padding: 2px 4px;
    border: 1px dotted var(--color--separator);
  }
}
