@import 'styles/mixins';

.experienceEntry {
  display: flex;
  gap: var(--spacing--l);

  @include mobile {
    display: block;
  }
}

.info {
  position: relative;
  top: calc(var(--font-size--m) - var(--font-size--l));
  flex: 0 0 125px;

  @include mobile {
    position: static;
    margin-right: 0;
    margin-bottom: var(--spacing--l);
  }
}

.details {
  flex-grow: 1;
}

.positionEntry {
  & + & {
    margin-top: var(--spacing--s);
  }
}
