@import 'styles/mixins';

.experienceEntry {
  display: flex;

  @include mobile {
    display: block;
  }
}

.info {
  position: relative;
  top: -5px;
  flex: 0 0 125px;
  margin-right: 14px;

  @include mobile {
    position: static;
    margin-right: 0;
    margin-bottom: 6px;
  }
}

.details {
  flex-grow: 1;
}

.positions {
  margin-bottom: 8px;
}

.separator {
  border: none;
  border-bottom: 1px dotted var(--color--separator);
}

.description {
  margin-top: 6px;
}
