@import 'styles/variables';

.description {
  font-size: 17px;
  line-height: 17px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;

  @include mobile {
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px;
  }
}
