.description {
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: $foreground-color-secondary;

  @include mobile {
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px;
  }
}
