.app {
  height: 100%;
}

.name {
  position: absolute;
  right: 0;
}

.sidebar-content {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.buttons {
  position: fixed;
  left: 20px;
  top: 90px;

  .button {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 988px) {
    display: none;
  }
}

@media print {
  margin: 0 auto;
  height: 100%;

  .buttons {
    display: none;
  }
}
