.app {
  .name {
    position: absolute;
    right: 0;
  }

  .page {
    margin: 20px auto;
    height: 100%;

    .buttons {
      position: absolute;
      left: calc(100% + 20mm);
      top: 80px;

      .button {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1030px) {
        display: none;
      }
    }

    @media print {
      margin: 0 auto;

      .buttons {
        display: none;
      }
    }
  }

  @media print {
    :global(.github-fork-ribbon-wrapper) {
      display: none;
    }
  }
}
