.app {
  height: 100%;
}

.name {
  position: absolute;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  @media print {
    padding-top: 20px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: $a4-width;
  margin: 60px 0;

  .button {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;

      @media screen and (max-width: $a4-width) {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media print {
    display: none;
  }
}

.footer {
  width: 100%;

  @media print {
    display: none;
  }
}
