.experience-entry {
  display: flex;

  .info {
    position: relative;
    top: -5px;
    flex: 0 0 125px;
    margin-right: 14px;
  }

  .details {
    flex-grow: 1;

    .positions {
      margin-bottom: 8px;
    }

    .separator {
      border-bottom: 1px dotted $shade-70;
    }

    .description {
      margin-top: 6px;
    }
  }

  @include mobile {
    display: block;

    .info {
      position: static;
      margin-right: 0;
      margin-bottom: 6px;
    }
  }
}
