$background-color: #222;
$foreground-color: #eee;

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  color: $foreground-color;

  .header {
    padding: 20px;
    padding-bottom: 0;
    font-size: 18px;
    flex: 0 0 auto;
  }

  .items {
    flex-grow: 1;
    overflow: auto;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    padding: 40px;
  }
}
