.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $background-dark;
  color: $foreground;

  .header {
    padding: 20px;
    padding-bottom: 0;
    font-size: 18px;
    flex: 0 0 auto;
  }

  .items {
    flex-grow: 1;
    overflow: auto;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 40px;

    .icon {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
