$foreground-color: white;
$background-color: #78387f;
$size: 50px;

.trigger {
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  color: $foreground-color;
  cursor: pointer;

  &:hover {
    background-color: mix($background-color, white, 90%);
  }

  &:active {
    background-color: mix($background-color, black, 90%);
  }
}
