@import 'styles/globals';

.footer {
  padding: 50px 0;
  background-color: $shade-0;
  color: $shade-70;
  box-shadow: $box-shadow;

  a {
    color: $shade-80;
  }
}

.row {
  margin: 12px 0;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
