@import 'styles/variables';

.page {
  width: $a4-width;
  height: $a4-height;
  padding: 20mm;
  background: white;
  box-shadow: $box-shadow-dark;

  @media print {
    width: 100%;
    height: auto;
    padding-bottom: 0;
    box-shadow: none;
  }

  @include mobile {
    width: 100%;
    height: auto;
    padding: 20px;
    padding-top: 40px;
  }
}
