@import 'styles/mixins';

.page {
  position: relative;
  width: var(--a4--width);
  height: var(--a4--height);
  padding: var(--a4--padding);
  background: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  @media print {
    width: 100%;
    height: auto;
    padding-bottom: 0;
    box-shadow: none;
    border-radius: 0;
  }

  @include mobile {
    width: 100%;
    height: auto;
    padding: 20px;
    padding-top: 40px;
    border-radius: 0;
  }
}
