.page {
  width: 210mm;
  height: 297mm;
  padding: 20mm;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 0px 5px 2px grey;

  .page-content {
    position: relative;
  }

  @media print {
    box-shadow: none;
  }
}
