.page {
  width: $a4-width;
  height: $a4-height;
  padding: 20mm;
  box-sizing: border-box;
  background: white;
  box-shadow: $box-shadow;

  .page-content {
    position: relative;
  }

  @media print {
    box-shadow: none;
  }

  @include mobile {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
