@import 'styles/mixins';

.positionEntry {
  display: flex;
  gap: var(--spacing--m);

  @include mobile {
    flex-direction: row-reverse;
  }
}

.timePeriod {
  flex: 0 0 88px;

  &:after {
    content: ')';
  }

  &:before {
    content: '(';
  }

  @include mobile {
    flex: 0 0 auto;
    margin-right: 0;
  }
}

.title {
  flex-grow: 1;
  font-weight: 700;
}
