@import '~normalize.css';
@import 'styles/globals';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: $background-color;
  color: $foreground-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.5;

  @media print {
    background: white;
    height: auto;
  }
}

@page {
  size: A4;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}
