@import 'normalize.css';

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  padding: 0;
  background: #aaa;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.5;

  @media print {
    background: white;
  }
}

@page {
  size: A4;
  margin: 0;
}

a {
  color: $foreground;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $foreground-hover;
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}
