.icons {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
